////
/// @group uthsc-faqs
////

@mixin uthsc-faqs {
  .uthsc-faq h2 a, .uthsc-faq h3 a {
    color: #555;
    font-weight: 300;
  }

  .uthsc-faq h2 a:after, .uthsc-faq h3 a:after {
    font-family: "FontAwesome";
    content: " \f0c1";
    color: #555;
    font-size:.75em
  }

  .uthsc-faq h2, .uthsc-faq h3 {
    margin: 1em 0 .25em 0;
  }

  .uthsc-faq .uthsc-row-title h2 {
    margin: 0;
  }

  .uthsc-faq-answer {
    margin-bottom: 2em;
  }

  p.uthsc-faq-question {
    margin-bottom: 0.8rem;
    margin-left: 12px;
    line-height: 1.2rem;
    &:before {
      content: "\203A \0020";
      margin-left: -12px;
      font-size: 1.4rem;
      display: inline;
    }
  }

  .uthsc-faq-answer-heading {
    color: #0084b6;
  }

  .uthsc-faq-heading-1, .uthsc-faq-heading-2 {
    border-bottom: 1px solid #ccc;
  }
}